body {
  margin:0;
  font-family: Arial;
  background:#050505;
  color:white;
}

header {
  padding:20px;
  text-align:center;
  background: linear-gradient(90deg,#6a00ff,#00c3ff);
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:20px;
  padding:30px;
}

.game {
  background:#111;
  padding:30px;
  border-radius:15px;
  text-align:center;
  cursor:pointer;
  transition:0.3s;
}

.game:hover {
  transform: scale(1.05);
  box-shadow:0 0 20px #6a00ff;
}

.compras {
  padding:30px;
  text-align:center;
}

.pacote {
  background:#111;
  margin:10px auto;
  padding:20px;
  width:250px;
  border-radius:10px;
  cursor:pointer;
}

.pacote:hover {
  background:#6a00ff;
}
